<%= render 'partials/header' %>
<div class="container container-white">
  
  <%= @privacy_policy.content.html_safe %>
  <p>
    <strong>Version:</strong>
    <%= @privacy_policy.version %>
  </p>

  <%= link_to 'Editar', edit_privacy_policy_path(@privacy_policy) %> |
  <%= link_to 'Regresar', privacy_policies_path %>
</div>
