<header class="bg white">
  <div class="row">
    <div class="col-sm-2">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', style: 'max-height: 5em; filter: drop-shadow(2px 2px 3px #000)' %>
        <% end %>
    </div>
    <div class="col-sm-10">
      <nav class="nav nav-pills nav-justified">
        <a class="nav-item nav-link <%= 'active' if controller_name == 'management' %>" href="<%= management_index_url %>">Inicio</a>
        <a class="nav-item nav-link <%= 'active' if controller_name == 'users' %>" href="<%= users_path %>">Usuarios</a>
        <a class="nav-item nav-link <%= 'active' if controller_name == 'courses' %>" href="<%= courses_path %>">Cursos</a>
        <a class="nav-item nav-link disabled" href="#">Articulos Blog</a>
      </nav>
    </div>
  </div>
</header>