<header class="header">

  <div class="bg-image"></div>

  <div class="container-fluid">
    
    <div class="row topbar">

      <div class="col-lg-6">
        <div class="logo-container">
          <%= link_to root_path do %>
            <%= image_tag "logo.png", class: 'logo' %>
          <% end %>
        </div>
      </div>
      
      <div class="col-lg-6">
        
        <div class="login" align="right">
          <nav class="login-menu">
            <ul>
              <% unless user_signed_in? %>
                <li>
                  <a class="aregistros" style="color:white">
                    <img  src="<%= image_url("11.png")%>" alt="">
                    <%= link_to 'INICIAR', new_user_session_path, class: 'link' %>
                  </a>
                </li>

                <li>
                  <a class="aregistros" style="color:white" >
                    <img  src="<%= image_url("12.png")%>" alt="">
                    <%= link_to 'REGISTRARSE', new_user_registration_path, class: 'link' %>
                  </a>
                </li>
              <% else %>
                <li>
                  <a class="aregistros" style="color:white;" >
                    <img src="<%= current_user.image || asset_url('default_profile.png') %>" alt="user-avatar" style="height: 50px; width: 50px; border-radius: 2em;">
                    
                    <div class="btn-group">
                      <div class="dropdown" hidden>
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>

                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <%= current_user.email %>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <%= link_to 'Mi Cuenta', users_my_account_path, class: 'dropdown-item' %>
                          <a class="dropdown-item disabled" href="#">Mi Suscripción</a>
                          <div class="dropdown-divider"></div>
                          <!-- <a class="dropdown-item" href="#">Salir</a> -->
                          <%= link_to 'Salir', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                        </div>
                      </div>
                    </div>

                    
                  </a>
                </li>
              <% end %>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</header>