<!--<p id="notice"><%= notice %></p>

<h1>Assistances</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assistances.each do |assistance| %>
      <tr>
        <td><%= link_to 'Show', assistance %></td>
        <td><%= link_to 'Edit', edit_assistance_path(assistance) %></td>
        <td><%= link_to 'Destroy', assistance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assistance', new_assistance_path %>-->
<%= render 'partials/header' %>

<div class="container">
  <h1 class="gold-title"> ASISTENCIA </h1>

  <div class="acordeon">
    <div class="acordeon__item">
      <input type="checkbox" name="acordeon" id="item1">
      <label for="item1" class="acordeon__titulo">Pregunta 1</label>
      <p class="acordeon__contenido">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tenetur ratione voluptatibus, aliquam ipsa eligendi nisi culpa quisquam, in quis nostrum quaerat. Iusto placeat, maxime similique voluptatum ullam at pariatur.</p>
    </div>
    <div class="acordeon__item">
      <input type="checkbox" name="acordeon" id="item2">
      <label for="item2" class="acordeon__titulo">Pregunta 2</label>
      <p class="acordeon__contenido">Est culpa ab ut voluptatem deserunt consequuntur eius, rem nesciunt dolorem possimus soluta, sequi, alias, harum. Voluptatem molestias, illo nam aperiam non consequatur, suscipit ab nesciunt ipsa sed consectetur! Maxime!</p>
    </div>
    <div class="acordeon__item">
      <input type="checkbox" name="acordeon" id="item3">
      <label for="item3" class="acordeon__titulo">Pregunta 3</label>
      <p class="acordeon__contenido">Eaque incidunt sed laborum ex quibusdam, impedit labore reprehenderit beatae quidem eum officia. Vero officia dolore nesciunt error, reprehenderit maiores facilis id accusamus quidem alias harum cumque atque, ratione rem?</p>
    </div>
    <div class="acordeon__item">
      <input type="checkbox" name="acordeon" id="item4">
      <label for="item4" class="acordeon__titulo">Pregunta 4</label>
      <p class="acordeon__contenido">Excepturi repudiandae molestiae rem fugit temporibus harum voluptas similique inventore facilis libero voluptatem praesentium quaerat, sunt labore accusamus, illum odio illo eius! Nesciunt hic architecto facere, eaque expedita deserunt consectetur.</p>
    </div>
    <div class="acordeon__item">
      <input type="checkbox" name="acordeon" id="item5">
      <label for="item5" class="acordeon__titulo">Pregunta 5</label>
      <p class="acordeon__contenido">Ullam ea sit tenetur repellendus nesciunt nemo mollitia, fugit consequuntur minima soluta neque quod commodi, cum qui, porro maiores rem tempora omnis aliquid labore itaque? Autem ipsa error quo doloremque.</p>
    </div>
    <div class="acordeon__item">
      <input type="checkbox" name="acordeon" id="item6">
      <label for="item6" class="acordeon__titulo">Pregunta 6</label>
      <p class="acordeon__contenido">Nostrum quae quis eligendi deleniti odio in adipisci placeat voluptas laborum consectetur illo, tempore vitae perferendis, quo voluptatibus blanditiis porro! Animi eveniet pariatur iste esse nobis optio maxime fugiat eum.</p>
    </div>
  </div>



</div>
