<%= link_to "Configuracion de Applicación", application_settings_path, class: 'd-none' %>

<!-- Logo y botones de registro -->

<section class="introduction">
  <div class="row topbar">

    <div class="col-lg-6">
      <div class="logo-container">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", class: 'logo' %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-6">

      <div class="login" align="right">
        <nav class="login-menu">
          <ul>
            <% unless user_signed_in? %>
              <li>
                <a class="aregistros" style="color:white">
                  <img  src="<%= image_url("11.png")%>" alt="">
                  <%= link_to 'INICIAR', new_user_session_path, class: 'link' %>
                </a>
              </li>

              <li>
                <a class="aregistros" style="color:white" >
                  <img  src="<%= image_url("12.png")%>" alt="">
                  <%= link_to 'REGISTRARSE', new_user_registration_path, class: 'link' %>
                </a>
              </li>
            <% else %>
              <li>
                <a class="aregistros" style="color:white" >
                  <img  src="<%= image_url("12.png")%>" alt="" style="background: linear-gradient(brown, red);">
                  <%= link_to 'SALIR', destroy_user_session_path, method: :delete, class: 'link' %>
                </a>
              </li>
            <% end %>
          </ul>
        </nav>

      </div>
    </div>
  </div>



  <div class="row">

    <div class="col-sm-4 offset-sm-1">
      <nav class="" id="menu">
        <ul>
          <li>
            <a href="#">
              <img src="<%=image_url("2.png") %>" alt=""style="margin-left:10px;">INICIO
            </a>
          </li>
          <li>
            <img src="<%=image_url("5.png")%>" alt="" style="margin-left:10px;">
            <%= link_to 'BLOG', blog_articles_path %>
          </li>
          <li>
            <img src="<%=image_url("3.png")%>" alt="" style="margin-left:10px;">
            <%= link_to 'ACERCA DE', abouts_path %>

          </li>
          <li>
            <img src="<%=image_url("4.png")%>" alt="" style="margin-left:10px;">
            <%= link_to 'ASISTENCIA', assistances_path %>

          </li>
        </ul>
      </nav>
    </div>

  </div>

</section>

<!-- Seccion para el menu -->

<!-- Segundo fondo -->
<section class="fondo2">
  <div class="row">
    <div class="col-sm-12">
    <!--  <img src="<%=image_url("background2.jpg")%>" alt=""> -->
    </div>
  </div>
</section>

<br>



<!--Seccion en la que se encontrara el video de introduccion -->


<section class="fondo3">
<div class="row">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">

    <!-- video -->

  </div>
  <div class="col-sm-2">

  </div>

</div>

<!-- Seccion de caracteristicas -->

<section class="caracteristics">

<div class="row">

  <div class="col-sm-10 offset-sm-1">
    <div class="caract">
      <h2>
        <img src="<%=image_url("13.png")%>" alt="">
        <span class="text">CARACTERISTICAS</span>
      </h2>
    </div>

    <div class="row">

      <div class="col-sm-4 item-container">
        <div class="macara" align="center">
          <%= image_tag ('8.png'), class: 'image-item' %>
          <div class="margen-bordes">
            <div class="color-marge">
            </div>
            <div class="macara">
              <h3>CARACTERISTICAS</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 item-container">
        <div class="macara" align="center">
          <%= image_tag ('7.png'), class: 'image-item' %>
          <div class="margen-bordes">
            <div class="color-marge">
            </div>
            <div class="macara">
              <h3>CARACTERISTICAS</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 item-container">
        <div class="macara"align="center">
          <%= image_tag ('6.png'), class: 'image-item' %>
          <div class="margen-bordes">
            <div class="color-marge">
            </div>
            <div class="macara">
              <h3>CARACTERISTICAS</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
  </div>
</div>


</section>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-sm-1">
      <div class="caract">
        <h2>
          <%= image_tag ('13.png') %>
          <span class="text">PLANES DE SUSCRIPCION</span>

        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <section>
    <div class="row">
      <div class="col-md-10 offset-md-1">

        <div class="row">

          <div class="col-md-4 contenedor-principal-planes">
            <div class="row">
              <div class="col-md-12 contenedor-planes">
                <div class="row">
                  <div class="col-md-12 text-center imagen-planes">
                    <img src="<%= image_url("9.png") %>" alt="" style="">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="text-center titulo-planes">Titulo</h2>
                  </div>

                </div>
                <div class="row division-planes">
                  <div class="col-md-12">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>


                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="btn boton-planes">RENOVACION CADA MES <img src="<%= image_url("1.png") %>" alt="" style=""></div>
              </div>

              <div class="col-md-12">
                <div  class="btn boton-planes">10% MENOS <img src="<%= image_url("1.png") %>" alt="" style=""></div>
              </div>

              <div class="col-md-12">
                <div class="btn boton-planes">RENOVACION CAda periodo <img src="<%= image_url("1.png") %>" alt="" style=""></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="btn boton-planes">Registrarme </div>
              </div>
              <div class="col-md-6">
                    <div class="btn boton-planes">Ver mas </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 contenedor-principal-planes">
            <div class="row">
              <div class="col-md-12 contenedor-planes">
                <div class="row">
                  <div class="col-md-12 text-center imagen-planes">
                    <img src="<%= image_url("9.png") %>" alt="" style="">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="text-center titulo-planes">Titulo</h2>
                  </div>

                </div>
                <div class="row division-planes">
                  <div class="col-md-12">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="btn boton-planes">RENOVACION CADA MES <img src="<%= image_url("1.png") %>" alt="" style=""></div>
              </div>

              <div class="col-md-12">
                <div class="btn boton-planes">10% MENOS <img src="<%= image_url("1.png") %>" alt="" style=""></div>
              </div>

              <div class="col-md-12">
                <div class="btn boton-planes">RENOVACION CAda periodo <img src="<%= image_url("1.png") %>" alt="" style=""></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="btn boton-planes">Registrarme </div>
              </div>
              <div class="col-md-6">
                    <div class="btn boton-planes">Ver mas </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 contenedor-principal-planes">
            <div class="row">
              <div class="col-md-12 contenedor-planes">
                <div class="row">
                  <div class="col-md-12 text-center imagen-planes">
                    <img src="<%= image_url("9.png") %>" alt="" style="">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h2 class="text-center titulo-planes">Titulo</h2>
                  </div>

                </div>
                <div class="row division-planes">
                  <div class="col-md-12">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="btn boton-planes">RENOVACION CADA MES <img src="<%= image_url("1.png") %>" alt="" style=""></div>
              </div>

              <div class="col-md-12">
                <div class="btn boton-planes">10% MENOS <img src="<%= image_url("1.png") %>" alt="" style=""></div>
              </div>

              <div class="col-md-12">
                <div class="btn boton-planes">RENOVACION CAda periodo <img src="<%= image_url("1.png") %>" alt="" style=""></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="btn boton-planes">Registrarme </div>
              </div>
              <div class="col-md-6">
                    <div class="btn boton-planes">Ver mas </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>


<div class="container-fluid">
  <section class="contacto">
    <div class="row">
      <div class="col-md-12">
        <h2><img src="<%= image_url("16.png") %>" alt="" style=""> CONTACTO</h2>
      </div>
      <div class="col-xs-0 col-md-2">

      </div>
      <div class="col-xs-10 col-md-3 contenedor-contacto">
        <div class="col-md-12">
          <h1 class="text-center titulo-contacto">MANDA!</h1>
          <h2 class="text-center titulo-contacto">Tu mensaje</h2>
        </div>
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Nombre</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <br>
            <button type="button" class="btn">Enviar</button>
          </div>
        </form>
      </div>
      <div class="col-xs-0 col-md-2">

      </div>
      <div class="col-xs-10 col-md-4
       contenedor-texto-contacto">
            <h2> <img src="<%= image_url("15.png") %>" alt="" style="">     CARACTERISTICAS</h2>
            <br>
            <p class="texto-contacto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </section>
</div>
<div class="container-fluid">
  <section class="redes-sociales">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-2 text-center">
        <img src="<%= image_url("r1.png") %>" alt="" style=""class="text-center iconSocial">
      </div>
      <div class="col-md-2 text-center">
        <img src="<%= image_url("r2.png") %>" alt="" style=""class="text-center iconSocial">
      </div>
      <div class="col-md-2 text-center">
        <img src="<%= image_url("r3.png") %>" alt="" style=""class="text-center iconSocial">
      </div>
      <div class="col-md-2 text-center">
        <img src="<%= image_url("r4.png") %>" alt="" style=""class="text-center iconSocial">
      </div>
      <div class="col-md-2 text-center">
        <img src="<%= image_url("r5.png") %>" alt="" style=""class="text-center iconSocial">
      </div>
      <div class="col-md-1">

      </div>
    </div>
    <br>
    <br>
    <br><br>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Copyright derechos reservados 2018</p>
      </div>
    </div>
  </section>
</div>



</div>
</section>
