<%= render 'partials/header_admin' %>

<div class="container-fluid bg white padding padding-large">
  <p>
    <strong>Name:</strong>
    <%= @course.name %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= @course.level %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @course.description %>
  </p>

  <%= link_to 'Editar', edit_course_path(@course) %> |
  <%= link_to 'Atras', courses_path %>

  <hr>
  <h2 class="black-text">Lecciones</h2>
</div> 
